/* imports de fonts */
@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);

}

@font-face {
    font-family: titi-black;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Black.ttf);
}

@font-face {
    font-family: titi-bold;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Bold.ttf);
}

@font-face {
    font-family: titi-regular ;
    src: url(../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: quick;
    src: url(../assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-layout {
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

.mostrar-menu {
    left: 0 !important;
}

.mostrar-menu-usuario {
    right: 0 !important;
}

.alinhamento-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body {

    color: white;
}

/* mobile first */


header {
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 100;
    background-color: #1B1426;
    top: 0;
}

header .header-top {
    display: none;
}


header .header-bottom {
    height: 60px;
}


header .logo {
    width: 86px;
}


header .icones-header-bottom {
    width: 20vw;
    height: 170px;
    top: 60px;
    right: -20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 101;
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    transition: 1.2s;
}




header .header-bottom nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 101;

    position: fixed;
    top: 60px;
    left: -80vw;
    width: 80vw;
    height: calc(100vh - 60px);
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
    transition: 0.9s;
}


header .header-bottom nav>a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 30px 0;
    color: white;
    text-decoration: none;
    font-family: inter;
    font-size: 15px;
    border-bottom: 1px solid #F9AA01;
}



header .header-bottom nav a:last-of-type {
    border-bottom: none;
}

header .midias-digitais {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 42px;
}




/* main */

main{
    background-image: url(../assets/imagem/Banner_cadastro_de_Equipe-mobille.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    margin-top: 60px;
    height: 1231px;
}

main .espaco-cadastro{
    height: 492px;
   top: 78px;
   position: relative;
   background-color: transparent;
   border: 1px solid transparent;
  
    background-image:  linear-gradient(to right bottom, rgba(27, 20, 38, .6), rgba(60, 3, 65, .38));

}
main h1{
    top: 40px;
    position: relative;
    font-family: titi-black;
    font-size: 28px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
}
main .borda-embaixo{
    width: 250px;
    position: relative;
    border-bottom: #F9AA01 solid 2px;
    top: 49px;
    margin: auto;
}

main form{
    top: 127px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 24px;
}

main form .id, .nome{
    background-image: linear-gradient(to right, rgba(239, 239, 239, 0.6), rgba(239, 239, 239, 0.1));
    backdrop-filter: blur(4px);
    padding: 5px 10px;
    border-radius: 8px;
}

form input{
    width: 100%;
    background-color: transparent;
    border: none;
}
form ::placeholder{
    color: white;
    font-family: titi-regular;
    font-size: 16px;
    margin-left: 16px;
}
























/* Desktop >= 1200px*/
@media screen and (min-width: 1200px) {

    .layout-grid {
        width: 100%;
        max-width: 1200px;
    }

    /* header */
    header {
        position: static;
        height: 140px;
        width: 100%;
    }

    header .header-top {
        display: block;
        border-bottom: 2px solid #F9AA01;
        height: 50px;
        width: 100%;
    }

    header .header-top .contatos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 450px;
        font-family: inter;
        font-size: 14px;
        font-weight: 400;
    }

    /* divs .phone, .mail */
    header .header-top .contatos>div {
        display: flex;
        gap: 10px;
        width: 200px;
        align-items: center;

    }


    header .header-top .midias-sociais {
        width: 140px;
        justify-content: space-between;
        align-items: center;
        display: flex;
    }

    header .midias-digitais {
        margin: 0 0
    }

    /* esconde os elementos desnecessários */
    .header-bottom .menu-hamburger,
    header .header-bottom .tres-pontinhos,
    header .header-bottom nav .phone,
    header .header-bottom nav .email,
    header .header-bottom nav .midias-digitais {
        display: none;
    }

    header .header-bottom {
        height: 92px;

    }

    header .logo {
        width: 200px;
    }

    header .header-bottom nav {
        position: static;
        width: 440px;
        height: 50px;
        padding-bottom: 0;
        flex-direction: row;
        align-items: center;
        /* background-color: red; */
        justify-content: space-between;
        transition: none;
    }

    header .header-bottom nav>a {
        font-size: 14px;
        padding: 0;
        border: none;
    }

    header .header-bottom .icones-header-bottom {
        position: static;
        width: 140px;
        flex-direction: row;
        height: auto;
        background-color: transparent;
        background-image: none;
        transition: none;
        justify-content: space-between;
    }

    header .header-top .contatos img {
        width: 25px;
        height: 25px;
    }
}